.SearchBar {
    display: block;
    background-color: #76FF77;
    border-radius: 0% 0% 100% 100%;
    min-height: 30px;
    margin: 0 auto;
}

.InputBar {
    color: black;
    font-size: 20pt;
    border-radius: 10px;
    max-width: 40%;
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 1%;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 300;
    
}