.WeatherDiv {
    display: flexbox;
    color: black;
    font-family: "Comfortaa", cursive;
    font-weight: 700;
    font-size: 22pt;
    z-index: 1;
    margin: auto;
    text-align: center;
}

.WeatherBox {
    position: fixed;
    margin: 0;
    background-color:gainsboro;
    height: 100%;
    width: 100%;
    left: 0;
    top: 120px;
    z-index: -1;
}