.WeatherDiv {
    display:inline-block;
    position:relative;
    color: black;
    font-family: "Comfortaa", cursive;
    font-weight: 700;
    font-size: 22pt;
    margin: auto;
    text-align: center;
}

.WeatherBox {
    position: fixed;
    margin: 0;
    background-color:gainsboro;
    height: 100%;
    width: 100%;
    left: 0;
    top: 120px;
}