.SunRay {
    position: absolute;
    background: #fbff00;
    width: 15px;
    height: 70px;
    margin: auto;
    display: inline-block;
    border-radius: 0 0 35% 35%;
    animation: moving 8s infinite linear;
    opacity: 0;
    margin-left: 50%;
}


@keyframes moving {
    from {
        opacity: 0;
        top: -15px;
        left: -150px;
        rotate: 90deg;
        box-shadow: 0px 0px 10px 5px #fbff00af;

    }
    12% {
        opacity: 0.5;
        top: 35px;
        left: -120px;
        rotate: 60deg;
    }
    25% {
        top: 77px;
        /* left: 40%; */
        rotate: 45deg;
        transform: scale(1.2);
        box-shadow: -15px 7px 20px 5px #fbff00af;

    }
    50% {
        opacity: 0.1;
        rotate: 0deg;
        top: 105px;
        left: 0px;
    }
    75% {
        top: 79px;
        /* left: 60%; */
        rotate: -45deg;
        box-shadow: 15px 7px 20px 5px #fbff00af;

    }
    88% {
        opacity: 0.5;
        top: 41px;
        left: 115px;
        rotate: -60deg;
    }
    to {
        opacity: 0;
        top: -15px;
        left: 147px;
        rotate: -90deg;
        box-shadow: 0px 0px 10px #fbff00af;
    }
}

.SunRayDiv {
    position: absolute;
    background: #fbff00;
    animation: floatingRays 8s infinite linear;
    margin-left: 50%;
    animation-direction: alternate;
    top: -40px;
}

@keyframes floatingRays {
    from {
        transform: scale(1);
        margin-top: 2px;
    }
    25% {
        margin-top: 0px;
    }
    50% {
        margin-top: 4px;
    }
    75% {
        margin-top: 0px;
    }
    to {
        transform: scale(1.03);
        margin-top: 4px;
    }
}